/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lobster&display=swap');

.hero img {
    display: block;
    width: 100%;
    height: auto;
}